# Don't track compiled python files and python cache #

Centrale/classes/__pycache__/
*.pyc
Centrale/config.ini
Centrale/testdata.txt
Centrale\classes\__pycache__\
Centrale\config.ini
Centrale\testdata.txt
